:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 10px;
}

.productpage-container {
  margin-left: 200px;
  padding: 2rem;
}

.wishlistpage-container {
  margin-left: 200px;
  padding: 2rem;
}

.productdetailpage-container {
  margin-left: 200px;
  padding: 2rem;
}

.productcard-container {
  display: inline-block;
  padding: 1rem;
}

.card_image {
  background-size:cover;
}

.wishlist-card-container {
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.product-info-container {
  width:fit-content;
}

.graph-container {
  width: 80%;
  border-color: black;
}

.dropdown {
  padding-bottom: 1rem;
}

.detail-image {
  width: fit-content;
  padding-bottom: 1rem;
}