:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 10px;
}

.productpage-container {
  margin-left: 200px;
  padding: 2rem;
}

.wishlistpage-container {
  margin-left: 200px;
  padding: 2rem;
}

.productdetailpage-container {
  margin-left: 200px;
  padding: 2rem;
}

.productcard-container {
  display: inline-block;
  padding: 1rem;
}

.card_image {
  background-size:cover;
}

.wishlist-card-container {
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.product-info-container {
  width:fit-content;
}

.product-detail-name {
  font-size: 2.25rem;
}

.graph-container {
  width: 80%;
  border-color: black;
}

.dropdown {
  padding-bottom: 1rem;
}

.detail-image {
  width: fit-content;
  padding-bottom: 1rem;
}

.product-listings {
  padding:1rem;
  width: 100%;
}

.productlisting-container {
  padding: 1rem;
  width:100%;
  display: inline-flex;
  justify-content: space-between;
  border-top: 1px solid #BFBFBF;
}

.product-listing-info-container {
  width: fit-content;
  padding-left: 2rem;
}

.header {
  font-size: 40px;
}

.name {
  font-size: 20px;
}

.remove-product-div {
  display: inline-flex;
}

.image-and-info-container {
  display: inline-flex;
}
